<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Posts</title>
</head>
<body>
<nav th:include="partials/navbar.html :: navbar"></nav>
<h1>This is the create form</h1>
    <div>
        <form th:method="POST" th:action="@{/posts/{action}(action=${action})}" th:object="${post}">
            <label for="postTitle">Post Title</label>
            <input id="postTitle" th:field="*{title}" />
            <br>
            <label for="postBody">Post Body</label>
            <input id="postBody" th:field="*{body}">
            <br>
            <button type="submit">Submit Post</button>
        </form>
    </div>
</body>
</html>