<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Posts</title>
</head>
<body>
    <div>
        <form method="POST" action="/post/create">
            <label for="postTitle">Post Title</label>
            <input type="text" id="postTitle" name="postTitle">
            <br>
            <label for="postBody">Post Body</label>
            <input type="text" id="postBody" name="postBody">
            <br>
            <button type="submit">Submit Post</button>
        </form>
    </div>
</body>
</html>