<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
  <div>Guess what number the dice will roll!</div><br>
  <a href="/roll-dice/1">I guess 1!</a>
  <a href="/roll-dice/2">I guess 2!</a>
  <a href="/roll-dice/3">I guess 3!</a>
  <a href="/roll-dice/4">I guess 4!</a>
  <a href="/roll-dice/5">I guess 5!</a>
  <a href="/roll-dice/6">I guess 6!</a>

  <div th:if="${message}">
      <h1 th:text="${message}"></h1>
      <div th:each="roll: ${rolls}">
          <div th:text="${roll}"></div>
      </div>
      <p th:text="${results}"></p>
  </div>
</body>
</html>